[Desktop Entry]
Name=GSDView
Comment=Geo-Spatial Data Viewer
TryExec=gsdviewer
Exec=gsdview
Icon=GSDView
Type=Application
X-GNOME-DocPath=
X-GNOME-Bugzilla-Bugzilla=
X-GNOME-Bugzilla-Product=
X-GNOME-Bugzilla-Component=
X-GNOME-Bugzilla-Version=
Categories=Education;Science;Astronomy;Qt;
StartupNotify=true
X-Ubuntu-Gettext-Domain=gsdview
