include MANIFEST MANIFEST.in
include LICENSE.txt
#include AUTHORS
include Makefile
include gsdviewer
include gsdview.desktop
recursive-include images *.svg *.png *.qrc
recursive-include gsdview *.py *.ui *.svg *.png *.jpg

include doc/Makefile doc/make.bat
recursive-include doc/source *.txt *.html *.pdf *.png *.svg *.ico *.py
recursive-include doc/html *

recursive-include debian *
