Source: gsdview
Section: science
Priority: optional
Maintainer: Antonio Valentino <a_valentino@users.sf.net>
Build-Depends: debhelper (>= 8.1), python, python-sphinx (>= 1.0),
               python-qt4 (>= 4.6), python-gdal (>= 1.6.1), texlive-base-bin
Standards-Version: 3.9.2
Homepage: http://gsdview.sourceforge.net

Package: gsdview
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ${sphinxdoc:Depends},
         python-qt4 (>= 4.6), python-gdal (>= 1.6.1), gdal-bin
Recommends: libproj0, google-earth-stable, www-browser
Description: Geo-Spatial Data Viewer open source edition
 GSDView open source edition is a lightweight viewer for geo-spatial
 data and products written in Python and Qt4. GSDView is modular and
 has a simple plug-in architecture. It is mainly intended to be a
 graphical front-end for the GDAL library and tools.
