Source: gsdview
Section: science
Priority: extra
Maintainer: Antonio Valentino <a_valentino@users.sf.net>
XS-Python-Version: >= 2.4
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7) , python-central (>= 0.6.0),
               python-sphinx, texlive-base-bin, docutils (>= 0.6) | rst2man
Standards-Version: 3.8.0
Homepage: http://sourceforge.net/projects/gsdview

Package: gsdview
Architecture: all
Depends: ${python:Depends}, python-qt4, python-gdal, gdal-bin, libjs-jquery
XB-Python-Version: ${python:Versions}
Recommends: python-qwt5-qt4
Description: Geo-Spatial Data Viewer
 It is a lightweight viewer for geo-spatial data and products written in
 Python and Qt4.
 .
 GSDView is modular and has a simple plug-in architecture.
 .
 It is mainly intended to be a graphical front-end for the GDAL library
 and tools.
 .
